<page th:replace="~{fragments/user-layout :: page(~{::title},~{::content})}">
<title>Your account has been reactivated - Civil Service Learning</title>
<content>
<div class="container">
    <div class="grid-row">
        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge">Account reactivation</h1>
            <p class="font-medium">Your account will be successfully reactivated once you log in</p>
        </div>
        <div class="grid-row push-bottom">
            <div class="column-two-thirds">
                <h2 class="heading-medium">What happens next?</h2>
                <p>Please <a href="/login">sign into Civil Service Learning</a> with your email address to complete the reactivation process.</p>
                <a href="/reset" class="push-bottom">Forgotten your password?</a>
            </div>
        </div>
    </div>
</div>
</content>
</page>
