<page th:replace="~{fragments/user-layout :: page(~{::title},~{::content})}">
<title>Your password has been updated</title>
<content>
<div class="container">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Your password has been updated</h1>
            <p>Please <a th:href="${lpgUiSignOutUrl}">sign out</a> to continue</p>
        </div>
        <div hidden id="signOutTimerInSeconds"><span th:text="${signOutTimerInSeconds}"></span></div>
        <div hidden id="signOutLink"><span th:text="${lpgUiSignOutUrl}"></span></div>
    </div>
</div>
<script th:inline="javascript">
    setInterval(function() {
        var div = document.querySelector("#signOutTimerInSeconds");
        var count = div.textContent * 1 - 1;
        div.textContent = count;
        if (count <= 0) {
            window.location.replace(document.querySelector("#signOutLink").textContent);
        }
    }, 1000);
</script>
</content>
</page>
