<page th:replace="~{fragments/user-layout :: page(~{::title},~{::content})}">
<title>Your password has been updated - Civil Service Learning</title>
<content>
<div class="container">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Your password has been updated</h1>
            <p>You can now <a th:href="${lpgUiUrl}">sign into the Civil Service Learning Platform</a> with your new password.</p>
        </div>
    </div>
</div>
</content>
</page>
