<page th:replace="~{fragments/user-layout :: page(~{::title},~{::content})}">
<title>We've sent you an email - Civil Service Learning</title>
<content>
<div class="container">
    <div class="grid-row">
        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge">Change email requested</h1>
            <p class="font-medium">You have requested to change your email</p>
        </div>
        <div class="grid-row push-bottom">
            <div class="column-two-thirds">
                <h2 class="heading-medium">What happens next?</h2>
                <p>We have sent you an email with a link to your new email address.</p>
                <p>Please click on the link in the email to verify changes to your account.</p>
                <p>The link will expire in <span th:text="${resetValidity}"></span></p>
                <p>Please click here to <a th:href="${lpgUiSignOutUrl}">sign out</a> and check your email.</p>
            </div>
            <div hidden id="signOutTimerInSeconds"><span th:text="${signOutTimerInSeconds}"></span></div>
            <div hidden id="signOutLink"><span th:text="${lpgUiSignOutUrl}"></span></div>
            <details role="group">
                <summary role="button" aria-controls="details-content-0" aria-expanded="false">
                    <span class="summary">Haven't received the email?</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                    <div class="text">
                        <p>Check your spam folder.</p>
                        <p>If you don't see the email after 30 minutes, you can contact the Learning Platform
                            for Government helpdesk on <a th:href="'tel:'+${contactNumber}" th:text="${contactNumber}"></a> or by email on
                            <a th:href="'mailto:'+${contactEmail}" th:text="${contactEmail}"></a>.
                        </p>
                    </div>
                </div>
            </details>
        </div>
    </div>
</div>

<script th:inline="javascript">
    setInterval(function() {
        var div = document.querySelector("#signOutTimerInSeconds");
        var count = div.textContent * 1 - 1;
        div.textContent = count;
        if (count <= 0) {
            window.location.replace(document.querySelector("#signOutLink").textContent);
        }
    }, 1000);
</script>
</content>
</page>
