<page th:replace="~{fragments/user-layout :: page(~{::title},~{::content})}">
<title>Agency token assignment complete - Civil Service Learning</title>
<content>
<div class="container">
    <div class="grid-row">
        <div class="column-full">
            <div class="govuk-box-highlight">
                <h1 class="heading-large">Agency token assignment complete</h1>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-medium">What next?</h2>
            <p>You can now <a href="/login">sign into Civil Service Learning</a>.</p>
        </div>
    </div>
</div>
</content>
</page>
