<div xmlns:th="http://www.w3.org/1999/xhtml">
    <header role="banner" id="global-header" class="with-proposition">
        <div class="header-wrapper container">
            <div class="header-global">
                <div class="header-logo">
                    <a href="/login" title="Go to the GOV.UK homepage" id="logo" class="content">
                        <div class="element-wrapper">
                            <div class="logo-wrapper">
                                <img th:if="${nsgFlag}" src="/assets/img/govuk-crest-white.png" class="govuk-header__logotype-crown" alt="" />
                                <img th:unless="${nsgFlag}" src="/assets/img/govuk-crown-white.png" class="govuk-header__logotype-crown" alt="" />
                                <div class="gov-uk-name" th:text="${nsgFlag ? 'National School of Government and Public Services' : 'GOV.UK'}"></div>
                            </div>
                            <div class="service-name">Civil Service Learning</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div id="global-header-bar"></div>
    <div class="phase-banner-container">
        <div class="phase-banner">
            <p><strong class="phase-tag">BETA</strong> This service is currently in Beta.</p>
        </div>
    </div>
</div>
