<page th:replace="~{fragments/user-layout :: page(~{::title},~{::content})}">
<title>Sign in - Civil Service Learning</title>
<content>
<div class="container">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div th:if="${param.error}" class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1" th:switch="${param.error[0]}">
                    <span th:case="'failed'">Your sign-in details are incorrect</span>
                    <span th:case="'locked'">Your account is locked</span>
                    <span th:case="'blocked'">Your account is blocked</span>
                    <span th:case="'deactivated'">Your account has been deactivated</span>
                    <span th:case="'reactivation-expired'">Your reactivation link has expired</span>
                    <span th:case="'pending-reactivation'">Your account is pending reactivation</span>
                    <span th:case="'invalidSignupCode'">Sign-up link is invalid</span>
                </h2>
                <p>
                    <span th:if="${param.error[0] == 'failed'}">
                        Check your email and password are correct.<br>
                        After <span th:text="${param.maxLoginAttempts[0]}"></span> consecutive unsuccessful login attempts, your account will be locked.
                    </span>
                    <span th:if="${param.error[0] == 'locked'}">
                        Your account is locked due to <span th:text="${param.maxLoginAttempts[0]}"></span> consecutive unsuccessful login attempts.<br>
                        <a href="/reset" class="push-bottom">Reset your password to unlock your account</a>
                    </span>
                    <span th:if="${param.error[0] == 'blocked'}">
                        You cannot access this website.<br>
                        Please <a href="mailto:feedback@cslearning.gov.uk">contact us</a> for more information.
                    </span>
                    <span th:if="${param.error[0] == 'deactivated' || param.error[0] == 'reactivation-expired'}">
                        You will need to <a th:href="@{/account/reactivate(code=${param.username[0]})}">reactivate your account by clicking here</a> to keep using Civil Service Learning.<br>
                    </span>
                    <span th:if="${param.error[0] == 'pending-reactivation'}">
                        We've sent you an email with a link to reactivate your account. Please check your emails (including the junk/spam folder).
                    </span>
                    <span th:if="${param.error[0] == 'invalidSignupCode'}">
                        Sign-up link is invalid. Please re-check your sign-up email or <a href="/signup/request">create an account</a>.
                    </span>
                </p>
            </div>
            <div th:if="${status}" class="error-summary" role="alert"
                 aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">There is a problem</h2>
                <ul class="error-summary-list">
                    <li><a href="#" th:text="${status}">status ...</a></li>
                </ul>
            </div>
            <div th:if="${param.logout}" class="error-summary" role="alert"
                 aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                You have been logged out.
            </div>
            <h1 class="heading-large">Sign in</h1>
            <p class="info-item">If this is the first time you have used this website, you will need to <a href="/signup/request">create an account</a></p>
            <form autocomplete="off" th:action="@{/login}" method="post" class="push-bottom">
                <div class="form-group">
                    <label for="email-address" class="form-label">Email address</label>
                    <input class="form-control form-control-2-3" id="email-address" name="username" type="email">
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Password</label>
                    <input class="form-control form-control-2-3" id="password" type="password" name="password">
                </div>
                <div>
                    <input type="submit" class="button" value="Continue">
                </div>
            </form>
            <a href="/reset" class="push-bottom">Forgotten your password?</a>
        </div>
    </div>
</div>
</content>
</page>
