<page th:replace="~{fragments/user-layout :: page(~{::title},~{::content})}">
<title>Maintenance - Civil Service Learning</title>
<content>
<div class="container">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Maintenance</h1>
            <p class="lede" th:text="${maintenancePageContentLine1}"></p>
            <p class="lede" th:text="${maintenancePageContentLine2}"></p>
            <p class="lede" th:text="${maintenancePageContentLine3}"></p>
            <p class="lede" th:text="${maintenancePageContentLine4}"></p>
        </div>
    </div>
</div>
</content>
</page>
